pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"description": "Main pipeline for covid project",
		"activities": [
			{
				"name": "Execute prepare_CovidFile",
				"description": "Execute prepare_CovidFile pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set FileName_output",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "prepare_CovidFile",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FileName_input": {
							"value": "@pipeline().parameters.FileName_input",
							"type": "Expression"
						},
						"FileName_output": {
							"value": "@variables('FileName_output')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute staging_Covid_untyped",
				"description": "Execute staging_Covid_untyped pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute prepare_CovidFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "staging_Load_Covid_untyped",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FileName_prepared": {
							"value": "@activity('Execute prepare_CovidFile').output.pipeline.output",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set FileName_output",
				"description": "Set FileName_output variable based on FileName_input parameter",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName_output",
					"value": {
						"value": "@concat(substring(pipeline().parameters.FileName_input, 0, lastindexof(pipeline().parameters.FileName_input, '.csv')), \n'_',formatDateTime(utcnow(), 'yyyy_MM_dd'), '_prepared.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileName_input": {
				"type": "string",
				"defaultValue": "CoordStatusMA_Short.csv"
			}
		},
		"variables": {
			"FileName_output": {
				"type": "String"
			}
		},
		"annotations": []
	}
}