pipeline/prepare_CovidFile.json
{
	"name": "prepare_CovidFile",
	"properties": {
		"description": "Prepare Covid file for staging",
		"activities": [
			{
				"name": "prepare_covid_file_task",
				"description": "Notebook activity for preparation covid file for staging",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/sergei_boikov@epam.com/CovidProjectNotebooks/TransformCovidFileDL",
					"baseParameters": {
						"FileName_input": {
							"value": "@pipeline().parameters.FileName_input",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "prepare_covid_file_task",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "123",
					"value": {
						"value": "@activity('prepare_covid_file_task').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileName_input": {
				"type": "string"
			}
		},
		"variables": {
			"123": {
				"type": "String"
			}
		},
		"annotations": []
	}
}